<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="master stylesheet" charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>{{page.title}}</title>
		<style type="text/css" media="screen">
		</style>
	</head>
	<body>
		<div id="header">
			<div class="nav container">
				<ul class="menu" >
					<li>
						<a href="http://faunzy.github.com">Words</a>
					</li>
					<li>
						<a href="http://github.com/faunzy/">Code</a>
					</li>
					<li>
						<a href="http://photos.ofaweso.me/">Photos</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</body>
</html>